* {
	padding: 0;
	margin: 0;
}

/* KEYFRAMES */

@keyframes waterlily_fail {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(10%);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes niv_snail {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(650px);
	}
}

@keyframes niv_turtle {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(100px, 200px);
	}
	50% {
		transform: translate(400px, 200px);
	}
	75% {
		transform: translate(400px, 0px);
	}
	100% {
		transform: translate(650px, 0px);
	}
}

@keyframes niv_frog {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: scale(70%) translate(100px, -200px);
	}
	50% {
		transform: translate(200px, 0px);
	}
	75% {
		transform: scale(70%) translate(400px, 100px);
	}
	100% {
		transform: translate(670px, 0px);
	}
}

@keyframes niv_cat {
	0% {
		transform: translate(0, 0);
	}
	8% {
		transform: translate(50px, -150px);
	}
	16% {
		transform: translate(150px, -250px);
	}
	24% {
		transform: translate(250px, -250px);
	}
	32% {
		transform: translate(400px, -200px);
	}
	40% {
		transform: translate(500px, -100px);
	}
	48% {
		transform: translate(500px, 50px);
	}
	56% {
		transform: translate(350px, 100px);
	}
	64% {
		transform: translate(250px, 50px);
	}
	72% {
		transform: translate(250px, -50px);
	}
	80% {
		transform: translate(400px, -100px);
	}
	90% {
		transform: translate(550px, -50px);
	}
	100% {
		transform: rotate(0deg) translate(670px, 0px);
	}
}

@keyframes niv_dog {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: rotate(0deg) translate(100px, -100px);
	}
	50% {
		transform: rotate(70deg) translate(100px, -100px);
	}
	75% {
		transform: rotate(-70deg) translate(400px, 100px);
	}
	100% {
		transform: translate(670px, 0px);
	}
}

/* INTERACTIONS */

.waterlily:hover {
	z-index: 10;
}

/* DIV */

.gamefield {
	margin: 0 auto;
	position: relative;
	width: 1000px;
	height: 750px;
	/* background-color: rgb(97, 201, 232); */
	background-image: url(/textures/water3.jpg);
	background-size: 1000px;
}

.fire {
	position: absolute;
	left: 0px;
	width: 50px;
	height: 600px;
	background-image: url(/textures/fire.avif);
	background-size: 50px;
}

.start {
	position: absolute;
	left: 50px;
	width: 100px;
	height: 600px;
	/* background-color: rgb(184, 115, 10); */
	background-image: url(/textures/wooden-bridge.webp);
	background-size: 100px;
}

.waterlily {
	position: absolute;
	top: 50%;
	left: 130px;
	width: 100px;
	height: 100px;
	background-color: greenyellow;
	background-image: url(/textures/lilypad.png);
	background-position: center;
	background-size: 110%;
	border-radius: 40px;
}

.finished {
	position: absolute;
	display: flex;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 300px;
	background-color: rgb(165, 85, 4);
}

/* .safeplace {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: rgb(14, 85, 4);
	z-index: 10;
	position: absolute;
	bottom: 100px;
	right: 25px;
	width: 150px;
	height: 175px;
	border: 5px solid;
	border-color: rgb(14, 85, 4);
} */

/* ANIMALS */

.snail {
	z-index: 20;
	position: absolute;
	top: 350px;
	left: 0px;
}

.turtle {
	z-index: 20;
	position: absolute;
	top: 300px;
	left: 50px;
}

.frog {
	z-index: 20;
	position: absolute;
	top: 250px;
	left: 0px;
}

.cat {
	z-index: 20;
	position: absolute;
	top: 200px;
	left: 50px;
}

.dog {
	z-index: 20;
	position: absolute;
	top: 150px;
	left: 0px;
}

.pinguin {
	z-index: 20;
	position: absolute;
	top: 100px;
	left: 50px;
}

.cow {
	z-index: 20;
	position: absolute;
	top: 50px;
	left: 0px;
}

.safe_snail {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 50px;
	right: 150px;
}

.safe_turtle {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 50px;
	right: 100px;
}

.safe_frog {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.safe_cat {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 50px;
	right: 0px;
}

.safe_dog {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 0px;
	right: 150px;
}

.safe_pinguin {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 0px;
	right: 100px;
}

.safe_cow {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 0px;
	right: 50px;
}
