* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(168, 214, 227);
}

/* KEYFRAMES */

@keyframes waterlily_fail {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(10%);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes niv_snail {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(670px);
	}
}

@keyframes niv_turtle {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(100px, 200px);
	}
	50% {
		transform: translate(400px, 200px);
	}
	75% {
		transform: translate(400px, 0px);
	}
	100% {
		transform: translate(670px, 0px);
	}
}

@keyframes niv_frog {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: scale(70%) translate(100px, -200px);
	}
	50% {
		transform: translate(200px, 0px);
	}
	75% {
		transform: scale(70%) translate(400px, 100px);
	}
	100% {
		transform: translate(670px, 0px);
	}
}

@keyframes niv_cat {
	0% {
		transform: translate(0, 0);
	}
	8% {
		transform: translate(50px, -150px);
	}
	16% {
		transform: translate(150px, -250px);
	}
	24% {
		transform: translate(250px, -250px);
	}
	32% {
		transform: translate(400px, -200px);
	}
	40% {
		transform: translate(500px, -100px);
	}
	48% {
		transform: translate(500px, 50px);
	}
	56% {
		transform: translate(350px, 100px);
	}
	64% {
		transform: translate(250px, 50px);
	}
	72% {
		transform: translate(250px, -50px);
	}
	80% {
		transform: translate(400px, -100px);
	}
	90% {
		transform: translate(550px, -50px);
	}
	100% {
		transform: rotate(0deg) translate(670px, 0px);
	}
}

@keyframes niv_dog {
	0% {
		transform: translate(0, 0);
	}
	15% {
		transform: rotate(0deg) translate(100px, -100px);
	}
	30% {
		transform: rotate(70deg) translate(100px, -100px);
	}
	75% {
		transform: rotate(-70deg) translate(350px, 100px);
	}
	80% {
		transform: rotate(-60deg) translate(350px, 100px);
	}
	100% {
		transform: translate(670px, 0px);
	}
}

@keyframes niv_pinguin {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: rotate(0deg) translate(100px, -300px) scale(90%);
	}
	29% {
		transform: rotate(120deg) translate(100px, -300px) scale(90%);
	}
	30% {
		transform: rotate(120deg) translate(100px, -300px) scale(90%);
	}
	35% {
		transform: translate(400px, 200px) scale(60%);
	}
	36% {
		transform: translate(400px, 200px) scale(60%);
	}
	41% {
		transform: rotate(0deg) translate(300px, 200px) scale(80%);
	}
	52% {
		transform: rotate(-40deg) translate(300px, 200px) scale(70%);
	}
	53% {
		transform: rotate(-40deg) translate(300px, 200px) scale(70%);
	}
	60% {
		transform: translate(500px, -100px) scale(70%);
	}
	74% {
		transform: rotate(-30deg) translate(500px, -100px) scale(60%);
	}
	75% {
		transform: rotate(-30deg) translate(500px, -100px) scale(60%);
	}
	88% {
		transform: translate(450px, -50px) scale(50%);
	}
	89% {
		transform: translate(450px, -50px) scale(50%);
	}
	100% {
		transform: translate(670px, 0px) scale(90%);
	}
}

@keyframes niv_cow {
	0% {
		transform: translate(0, 0);
	}
	9% {
		transform: translate(100px, -100px) scale(90%);
	}
	10% {
		transform: translate(100px, -100px) scale(90%);
	}
	20% {
		transform: translate(200px, 100px) scale(90%);
	}
	21% {
		transform: translate(200px, 100px) scale(90%);
	}
	41% {
		transform: translate(300px, -200px) scale(80%);
	}
	42% {
		transform: translate(300px, -200px) scale(80%);
	}
	65% {
		transform: translate(400px, 200px) scale(70%);
	}
	66% {
		transform: translate(400px, 200px) scale(70%);
	}
	85% {
		transform: translate(500px, -300px) scale(60%);
	}
	86% {
		transform: translate(500px, -300px) scale(60%);
	}
	100% {
		transform: translate(670px, 0px);
	}
}

/* INTERACTIONS */

#waterlily:hover {
	z-index: 10;
}

/* DIV */

#title {
	text-align: center;
	position: relative;
	top: 750px;
}

#reset {
	display: block;
	margin: 0 auto;
	position: relative;
	left: 400px;
	top: 720px;
}

#gamefield {
	z-index: 0;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 1000px;
	height: 750px;
	background-image: url(textures/water3.jpg);
	background-size: 1000px;
}

#rules {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
}

#congrats {
	display: none;
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
	z-index: 50;
}

#tries {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#start {
	z-index: 3;
	position: absolute;
	left: 50px;
	width: 100px;
	height: 600px;
	/* background-color: rgb(184, 115, 10); */
	background-image: url(textures/wooden-bridge.webp);
	background-size: 100px;
}

#waterlily {
	z-index: 5;
	position: absolute;
	top: 50%;
	left: 130px;
	width: 100px;
	height: 100px;
	background-color: greenyellow;
	background-image: url(textures/lilypad.png);
	background-position: center;
	background-size: 110%;
	border-radius: 40px;
}

#finished {
	position: absolute;
	display: flex;
	border-top-left-radius: 20px;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 300px;
	background-image: url(textures/grass.jpg);
}

#safeplace {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: rgb(241, 215, 175);
	z-index: 10;
	position: absolute;
	bottom: 100px;
	right: 20px;
	width: 150px;
	height: 150px;
	border: 5px solid;
	border-color: rgb(235, 145, 8);
}

/* ANIMALS */

#snail {
	display: none;
	z-index: 999;
	position: absolute;
	top: 350px;
	left: 0px;
}

#turtle {
	display: none;
	z-index: 20;
	position: absolute;
	top: 300px;
	left: 50px;
}

#frog {
	display: none;
	z-index: 20;
	position: absolute;
	top: 250px;
	left: 0px;
}

#cat {
	display: none;
	z-index: 20;
	position: absolute;
	top: 200px;
	left: 50px;
}

#dog {
	display: none;
	z-index: 20;
	position: absolute;
	top: 150px;
	left: 0px;
}

#pinguin {
	display: none;
	z-index: 20;
	position: absolute;
	top: 100px;
	left: 50px;
}

#cow {
	display: none;
	z-index: 20;
	position: absolute;
	top: 50px;
	left: 0px;
}

#safe_snail {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 50px;
	right: 150px;
}

#safe_turtle {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 50px;
	right: 100px;
}

#safe_frog {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 50px;
	right: 50px;
}

#safe_cat {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 50px;
	right: 0px;
}

#safe_dog {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 0px;
	right: 150px;
}

#safe_pinguin {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 0px;
	right: 100px;
}

#safe_cow {
	display: none;
	z-index: 20;
	position: absolute;
	bottom: 0px;
	right: 50px;
}

@media screen and (max-width: 1300px) {
	body {
		transform: scale(75%);
	}
}
